<!doctype html>
<html lang="en">
  <head>
	<title>Mechronomicon</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<style>
		html {
			width: 100vw;
			height: 100vh;
			overflow: hidden;
		}
		body {
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
		* {
			margin: 0;
			padding: 0;
		}
		canvas {
			width: 100%;
			height: 100%;
		}
		canvas:focus-visible {
			outline: 0 auto !important;
		}
	</style>
  </head>
  <body oncontextmenu="return false">
	<script type="module">
		setInterval(() => {
			(document.querySelector("body > canvas")||{}).style='';
		}, 1000);
		document.body.addEventListener("contextmenu", (e) => {
			e.preventDefault();
			e.stopPropagation();
		});

		// Hack to work around wasm-server-runner having different invocation.
		// Gets undefined during release assembly.
		let bindgen_param = "/api/wasm.wasm";

		// Following template gets replaced with `wasm_bindgen` import.
		// {{ MODULE }}

		let run = async () => {await wasm_bindgen(bindgen_param);};
		run().catch(error => {
			if (!error.message.startsWith("Using exceptions for control flow, don't mind me. This isn't actually an error!")) {
				throw error;
			}
		});
	</script>
</body>
</html>